@import 'mixins.scss';
@import 'normalize.css';

html,
button,
input,
select,
textarea {
    color: $black;
}

html{
    background: $white;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: $burgundy;
    text-shadow: none;
    color: white;
}

::selection {
    background: $burgundy;
    text-shadow: none;
    color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ------------------ HEADER ------------------ */


#main-header{
    position: relative;
    width:100%;
    padding: 1em 0;
    overflow: hidden;
    background: $gray;
    a{
        @extend .hnc;
    }
    li{
        display: none;
        &.eco-logo{
            display: inline-block;
        }
    }
    .mobile{
        width:10%;
        position:absolute;
        text-align: center;
        left:1%;
        bottom:10%;
        font-size: 2em;
        &:last-child{
            right:0;
            left:auto;
        }
    }
}

#jPanelMenu-menu{
    left:-1px !important;
    border-right:1px solid $gray-border;
    .eco-logo{
        display:none;
    }
    a{
        @extend .hnc;
        border-bottom:1px solid $gray-border;
        display:block;
        padding:1em;
    }
}

#main-nav{
    ul{
        overflow: hidden;
        text-align: center;
    }
    li{
        @include t;
        border:2px solid transparent;
        a{
            padding: 0.4em 0;
            line-height: 1.2;
            display: block;
        }
        &.eco-logo{
            border:none;
            padding: 0;
            a{
                padding: 0;
            }
        }
    }
}

.no-touch #main-nav li:hover,#main-nav li:focus{
    border-color: $black;
}

.no-touch #main-nav li:active{
    position: relative;
    @include t(none);
    top: 1px;
    &.eco-logo{
        position: absolute;
        top:10%;
    }
}


@media only screen and (min-width: 48em) {
    #main-header{
        .mobile{
            display: none;
        }
        li{
            display:block;
            float: left;
            &.logo{
                position: relative;
            }
        }
    }

    #main-nav{
        ul{
            width:100%;
        }
        li{
            margin: 8em 0.5% 0 0.5%;
            width: 15.6666666667%;
            text-align: center;
            &.eco-logo{
                margin-top:0;
                width: 100%;
                position: absolute;
                text-align:center;
                left:0;
                top:10%;
            }
            a{
                font-size: 0.80em;
            }
        }
    } 
}

@media only screen and (min-width: 61.875em) {
    #main-header{
        padding:2em 0;
    }
    #main-nav{
        max-width: 71.25em;
        margin:0 auto;
    }
    #main-nav li{
        a{
            font-size: 0.95em;
        }
        margin-top: 2.5em;
        width:13.28%;
        margin: 2.5em 0.5% 0 0.5%;
        &.eco-logo{
            position: static;
            width:12.28%;
            left: 0;
            top:0;
        }
    }
    .no-touch #main-nav li:active{
        &.eco-logo{
            position: relative;
            top:1px;
        }
    }
}





/* ------------------ VALUE PROP ------------------ */

hgroup{
    padding:2em 0;
    text-align: center;
    h1{
        @extend .hnc;
    }
    hr{
        border-color:#b8b8b8;
        border-width:1px;
        width: 20%;
        max-width: 10em;
        margin: 0 auto;
    }
}



#value-prop{
    .wrap{
        margin:0 auto;
        padding:0 1em;
    }
    hgroup{
        hr{
            border-color:white;
            border-width: 2px;
        }
        h1,p{
            color: white;
        }
    }
    p{
        max-width: 30em;
        margin: 0 auto;
        color: white;
        text-align: center;
        @extend .gi;
        line-height: 1.5;
    }
    background-image:url(../img/bg.jpeg);
    background-repeat: no-repeat;
    background-position:top center;
    background-attachment: fixed;
    background-size:cover;
    width:100%;
    height:18.75em;
}

#prop-links{
    max-width: 45em;
    margin: 0 auto;
    @extend .clearfix;
    margin-top: 1em;
    text-align: center;
    a{
        display: inline-block;
        @extend .button-white;
    }
    padding:1em 0;
    &.two{
        a:last-child{
            display:none;
        }
    }
    &.three{
        a{
            display: none;
            &:first-child{
                display:inline-block;
            }
        }
    }
}



@media only screen and (min-width: 48em) {
    #prop-links{
        &.two{
            a{
                display:block;
                float: left;
                width:30%;
                margin: 0 3% 0 17%;
                &:last-child{
                    display:block;
                    margin: 0 17% 0 3%;
                }
            }
        }
        &.three{
            a{
                display:block;
                float: left;
                width:30%;
                display:block;
                margin: 0 1.66666666667%;
                &:first-child{
                    display:block;
                    
                }
            }
        }
    }

    #value-prop{
        height: 31.25em;
        p{
            font-size: 1.5em;
            max-width: 20em;
        }
    }
}

/* ------------------ MAIN ------------------ */


#main-content > section{
    padding: 0 1em;
    margin: 2em auto;
    max-width: 71.25em;
}

#main-content{
    padding-bottom: 2em;
}

.f-wrap{
    padding: 0 1em;
    max-width: 71.25em;
    margin: 0 auto;
    overflow: hidden;
}

.caption{    
    color:$black;
    @extend .gi;
    font-size: 1.125em;
    margin:0.8em auto !important;
    span{
        font-size:0.77777777777em;
        display: block;
        @extend .hn;
        font-style: normal;
    }
}

/* ------------------ SWIPER ------------------ */

.swiper-container{
    overflow-y: visible !important;
    overflow-x: hidden;
}

.swiper-wrapper{
    height: auto !important;
}

.swiper-slide{
    height:auto !important;
    text-align: center;
    padding: 0 0.2em 10px 0.2em;
    img{
        margin-top: 2px;
        display: inline-block;
        max-width: 100%;
    }
    a{
        text-decoration: none;
        img{
            @include t;
        }
    }
}

.pagination{
    width:105px;
    margin:0 auto;
    text-align:center;
    @extend .clearfix;
}

.swiper-pagination-switch{
    display: block;
    float:left;
    width: 8px;
    height: 8px;
    padding:5px;
    border-radius: 100%;
    background: transparent;
    border:1px solid $black;
    margin: 0 10px;
    @include t;
    cursor:pointer;
}

.no-touch .swiper-pagination-switch:hover,.swiper-pagination-switch:focus{
    opacity:1;
    background:$black;
}

.no-touch .swiper-pagination-switch:active{
    @include t(none); 
    position:relative; 
    top:1px;
}

.swiper-container {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* Fix of Webkit flickering */
    z-index:1;
}
.swiper-wrapper {
    position:relative;
    width:100%;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;
    
    -moz-transition-property:-moz-transform;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;
    
    -o-transition-property:-o-transform;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    
    -ms-transition-property:-ms-transform;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;
    
    transition-property:transform;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;
    
}
.swiper-slide {
    float:left;
    @include noflick;
    img{
        @include noflick;
    }
}

.winphone{
    .swiper-slide{
        float: none;
    }
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}

/* Specify Swiper's Size: */
.swiper-container, .swiper-slide {
    width:100%;
    height:auto;
}

.swiper-active-switch{
    background:$black;
}

@media only screen and (min-width: 48em) {
    .swiper-slide{
        img{
            width: 90%;
        }
    }
}

/* ------------------ FOOTER ------------------ */

#main-footer{
    clear: both;
    width: 100%;
    background:$gray;
    a img{
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
    p{
        text-align: center;
        margin-bottom: 0;
        padding-bottom:1em;
        padding-top:2em;
        a{
            @extend .s-link;
        }
    }
    .icons{
        max-width: 40em;
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        font-size: 1em;
        text-align: center;
        a{  
            font-size: 2em;
            color:$black;
            text-decoration: none;
            width: 33.33333%;
            float: left;
            text-align: center;
            @include t;
            word-wrap: break-word;
            b{
                font-weight: normal;
                display: none;
            }
        }
    }
}

.no-touch #main-footer .icons a:hover,#main-footer .icons a:focus{
    color: $blue;
}

#footer-nav{
     width:90%;
     max-width: 40em;
     margin: 0 auto;
     padding: 2em 0;
     ul{
        overflow: hidden;
        border:1px solid $gray-border;
        border-bottom: none;
     }
     li{
        width:50%;
        float: left;        
        border-bottom: 1px solid $gray-border;
        &:nth-child(odd){
            border-right:1px solid $gray-border;
        }
        @include t;
     }
     a{
        padding:1em;
        font-size: 0.875em;
        text-align: center;
        display: block;
        text-decoration: none;
        color:$black;
        @include t;
     }
}

.no-touch #footer-nav li:hover,#footer-nav li:focus{
    background: $blue;
    a{
        color:white;
    }
}

.certification{
    overflow: hidden;    
    text-align: center;
    width: 100%;
    img{
        display: inline;
        width: 50px;
    }
}

@media only screen and (min-width: 37.5em){
    #footer-nav{
        li{
            width: 33.3333%;
            &:nth-child(odd){
                border-right:none;
            }
            &:nth-child(2),&:nth-child(5){
                border-right:1px solid $gray-border;
                border-left:1px solid $gray-border;
            }
        }
    }
}

@media only screen and (min-width: 48em) {
     #main-footer .icons a b{
        display: block;
        font-size: 0.4em;
    }
}

/* ------------------ COMMON ------------------ */

h2{
    @extend .gi;
    text-align: center;
}

@media only screen and (min-width: 48em) {

    #main-content section p{
        font-size:1.125em;
    }

    h2{
        font-size:1.55em;
    }

    h1{
        font-size: 1.875em;
    }

    .button-white{
        font-size:1.3125em;
        border-width: 3px;
    }

    .caption{
        font-size:1.4em !important;
    }

}

@media only screen and (min-width: 35em) {
    
}



@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
