@import url(normalize.css);
/*COLORS*/
/*FONTS*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: 'icomoon' !important;
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-transform: none !important; }

/* ICONFONT TEMPLATES

<span aria-hidden="true" data-icon="&#x74;"></span> //telephone
<span aria-hidden="true" data-icon="&#x6d;"></span> //menu
<span aria-hidden="true" data-icon="&#x70;"></span> //marker
<span aria-hidden="true" data-icon="&#x65;"></span> //email
<span aria-hidden="true" data-icon="&#x69;"></span> //interesting
<span aria-hidden="true" data-icon="&#x64;"></span> //data

*/
.gi, #value-prop p {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal; }

.hnc, .button-white, #prop-links a, #main-header a, #jPanelMenu-menu a, hgroup h1 {
  text-transform: uppercase;
  font-family: 'HelveticaNeueW02-77BdCn 694066';
  font-weight: normal;
  text-decoration: none;
  color: #231f20;
  letter-spacing: 1px; }

.hnb {
  font-weight: normal;
  font-family: 'HelveticaNeueW02-75Bold'; }

.hn {
  font-weight: normal;
  font-style: normal;
  font-family: 'HelveticaNeueW02-55Roma'; }

/*HELPERS*/
.clearfix:before, #prop-links:before,
.clearfix:after,
#prop-links:after {
  content: " ";
  display: table; }

.clearfix:after, #prop-links:after {
  clear: both; }

.clearfix, #prop-links {
  *zoom: 1; }

.button-white, #prop-links a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 0.4em;
  line-height: 1.5;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .button-white:hover, .no-touch #prop-links a:hover, #prop-links .no-touch a:hover, .button-white:focus, #prop-links a:focus {
  background: white;
  color: #231f20; }

.no-touch .button-black:active, .no-touch .button-blue:active, .button-white:active, #prop-links a:active {
  -webkit-transition: none 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: none 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: none 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: none 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  position: relative;
  top: 1px; }

html,
button,
input,
select,
textarea {
  color: #231f20; }

html {
  background: #fafafa; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #971e26;
  text-shadow: none;
  color: white; }

::selection {
  background: #971e26;
  text-shadow: none;
  color: white; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ------------------ HEADER ------------------ */
#main-header {
  position: relative;
  width: 100%;
  padding: 1em 0;
  overflow: hidden;
  background: #f1f1f1; }
  #main-header li {
    display: none; }
    #main-header li.eco-logo {
      display: inline-block; }
  #main-header .mobile {
    width: 10%;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 10%;
    font-size: 2em; }
    #main-header .mobile:last-child {
      right: 0;
      left: auto; }

#jPanelMenu-menu {
  left: -1px !important;
  border-right: 1px solid #d9d8d9; }
  #jPanelMenu-menu .eco-logo {
    display: none; }
  #jPanelMenu-menu a {
    border-bottom: 1px solid #d9d8d9;
    display: block;
    padding: 1em; }

#main-nav ul {
  overflow: hidden;
  text-align: center; }
#main-nav li {
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  font-size: 0.875em;
  border: 2px solid transparent; }
  #main-nav li a {
    padding: 0.4em 0;
    line-height: 1.2;
    display: block; }
  #main-nav li.eco-logo {
    border: none;
    padding: 0; }
    #main-nav li.eco-logo a {
      padding: 0; }

.no-touch #main-nav li:hover, #main-nav li:focus {
  border-color: #231f20; }

.no-touch #main-nav li:active {
  position: relative;
  -webkit-transition: none 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: none 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: none 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: none 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  top: 1px; }
  .no-touch #main-nav li:active.eco-logo {
    position: absolute;
    top: 1%; }

@media only screen and (min-width: 48em) {
  #main-header .mobile {
    display: none; }
  #main-header li {
    display: block;
    float: left; }
    #main-header li.logo {
      position: relative; }

  #main-nav ul {
    width: 100%; }
  #main-nav li {
    margin: 8em 0.1% 0 0.1%;
    width: 15.94%;
    text-align: center; }
    #main-nav li.eco-logo {
      margin-top: 0;
      width: 100%;
      position: absolute;
      text-align: center;
      left: 0; } }
@media only screen and (min-width: 61.875em) {
  #main-header {
    padding: 2em 0; }

  #main-nav {
    max-width: 71.25em;
    margin: 0 auto; }

  #main-nav li {
    font-size: 1em;
    margin-top: 2.5em;
    width: 13.74%; }
    #main-nav li.eco-logo {
      position: static;
      width: 13.74%;
      margin-left: 0;
      left: 0;
      top: 0; } }
/* ------------------ VALUE PROP ------------------ */
hgroup {
  padding: 2em 0;
  text-align: center; }
  hgroup hr {
    border-color: #b8b8b8;
    border-width: 2px;
    width: 20%;
    max-width: 10em;
    margin: 0 auto; }

#value-prop {
  background-image: url(../img/bg.jpeg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 18.75em; }
  #value-prop .wrap {
    margin: 0 auto;
    padding: 0 1em; }
  #value-prop hgroup hr {
    border-color: white; }
  #value-prop hgroup h1, #value-prop hgroup p {
    color: white; }
  #value-prop p {
    max-width: 30em;
    margin: 0 auto;
    color: white;
    text-align: center;
    line-height: 1.5; }

#prop-links {
  max-width: 45em;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
  padding: 1em 0; }
  #prop-links a {
    display: inline-block; }
  #prop-links.two a:last-child {
    display: none; }
  #prop-links.three a {
    display: none; }
    #prop-links.three a:first-child {
      display: inline-block; }

@media only screen and (min-width: 48em) {
  #prop-links.two a {
    display: block;
    float: left;
    width: 26%;
    margin: 0 3% 0 17%; }
    #prop-links.two a:last-child {
      display: block;
      margin: 0 17% 0 3%; }
  #prop-links.three a {
    display: block;
    float: left;
    width: 26%;
    display: block;
    margin: 0 2%; }
    #prop-links.three a:first-child {
      display: block; }

  #value-prop {
    height: 31.25em; }
    #value-prop p {
      font-size: 1.5em;
      max-width: 20em; } }
/* ------------------ COMMON ------------------ */
@media only screen and (min-width: 48em) {
  h1 {
    font-size: 1.875em; }

  .button-white, #prop-links a {
    font-size: 1.3125em;
    border-width: 3px; } }
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
