/*COLORS*/

$burgundy: #971E26;
$blue: #1072B5;
$black: #231F20;

$white: #FAFAFA;
$gray: #F1F1F1;

$gray-border:#D9D8D9;


/*FONTS*/

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'icomoon' !important;
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	text-transform:none !important;
}

/* ICONFONT TEMPLATES

<span aria-hidden="true" data-icon="&#x74;"></span> //telephone
<span aria-hidden="true" data-icon="&#x6d;"></span> //menu
<span aria-hidden="true" data-icon="&#x70;"></span> //marker
<span aria-hidden="true" data-icon="&#x65;"></span> //email
<span aria-hidden="true" data-icon="&#x69;"></span> //interesting
<span aria-hidden="true" data-icon="&#x64;"></span> //data

*/

.gi{
	font-family:Georgia;
	font-style:italic;
	font-weight:normal;
}

.hnc{
	text-transform:uppercase;
	font-family:'HelveticaNeueW02-77BdCn 694066';
	font-weight:normal;
	text-decoration:none;
	color:$black;
	letter-spacing:1px;
}

.hnb{
	font-weight:normal;
	font-family:'HelveticaNeueW02-75Bold';
}

.hn{
	font-weight:normal;
	font-style:normal;
	font-family:'HelveticaNeueW02-55Roma';
}

/*HELPERS*/

@mixin t($what:all, $dur:0.3s, $ease:ease-in-out){
	-webkit-transition: $what $dur $ease;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: $what $dur $ease;  /* Firefox 4-15 */
	-o-transition: $what $dur $ease;  /* Opera 10.50–12.00 */
	transition: $what $dur $ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

@mixin delay($dur:1s){
	animation-delay:$dur; /* W3C and Opera */
	-moz-animation-delay:$dur; /* Firefox */
	-webkit-animation-delay:$dur; /* Safari and Chrome */
}

@mixin noflick(){
	-webkit-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.button-white{
	@extend .hnc;
	text-decoration:none;
	color:white;
	border:2px solid white;
	padding:0.4em;
	line-height:1.5;
	text-align:center;
	@include t;
}

.no-touch .button-white:hover, .button-white:focus{
	background:white;
	color:$black;
}

.no-touch .button-black:active,.no-touch .button-blue:active,.button-white:active{
	@include t(none);
	position:relative;
	top:1px;
}



.t-link{
	color:$blue;
	@extend .hnc;
	text-decoration:none;
	text-transform:uppercase;
	span{
		@include t;
		letter-spacing:1px;
		border-bottom:1px solid transparent;
	}
}

.s-link{
	color: $blue;
    text-decoration: none;
    border-bottom:1px solid transparent;
    @include t;
}

.no-touch .s-link:hover,.s-link:focus{
    border-color:$blue;
}

.no-touch .s-link:active{
    position: relative;
    top: 1px;
    @include t(none);
}

.no-touch .t-link span:hover,.t-link span:focus{
	border-bottom:1px solid $blue;
}





@mixin image-borders{
	border:10px solid white;
	-webkit-box-shadow: 0px 0px 0px 1px $gray-border; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: 0px 0px 0px 1px $gray-border; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
	opacity:0.92;
	@include t;
	&:hover,&:focus{
		opacity: 1;
	}	
}

.image-wrap{
	@include t;
    margin:0 auto;
    position:relative;
    width:auto;
    max-width: 555px;
    text-align: center;
    a{
    	text-decoration: none;
    }
    img{
        @include image-borders;
        display: inline-block;
        max-width: 100%;
    }
}

.image-wrap:after,.image-wrap:before{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 5%;
    width: 50%;
    top: 80%;
    max-width: 300px;
    -webkit-box-shadow: 0 15px 10px #999999;
    -moz-box-shadow: 0 15px 10px #999999;
    box-shadow: 0 15px 10px #999999;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.image-wrap:after{
    right: 5%;
    left: auto;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}