/*COLORS*/
/*FONTS*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: 'icomoon' !important;
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-transform: none !important; }

/* ICONFONT TEMPLATES

<span aria-hidden="true" data-icon="&#x74;"></span> //telephone
<span aria-hidden="true" data-icon="&#x6d;"></span> //menu
<span aria-hidden="true" data-icon="&#x70;"></span> //marker
<span aria-hidden="true" data-icon="&#x65;"></span> //email
<span aria-hidden="true" data-icon="&#x69;"></span> //interesting
<span aria-hidden="true" data-icon="&#x64;"></span> //data

*/
.gi {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal; }

.hnc, .button-white, .t-link, #extra-data h4 {
  text-transform: uppercase;
  font-family: 'HelveticaNeueW02-77BdCn 694066';
  font-weight: normal;
  text-decoration: none;
  color: #231f20;
  letter-spacing: 1px; }

.hnb {
  font-weight: normal;
  font-family: 'HelveticaNeueW02-75Bold'; }

.hn {
  font-weight: normal;
  font-style: normal;
  font-family: 'HelveticaNeueW02-55Roma'; }

/*HELPERS*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.button-white {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 0.4em;
  line-height: 1.5;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .button-white:hover, .button-white:focus {
  background: white;
  color: #231f20; }

.no-touch .button-black:active, .no-touch .button-blue:active, .button-white:active {
  -webkit-transition: none 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: none 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: none 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: none 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  position: relative;
  top: 1px; }

.t-link {
  color: #1072b5;
  text-decoration: none;
  text-transform: uppercase; }
  .t-link span {
    -webkit-transition: all 0.3s ease-in-out;
    /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.3s ease-in-out;
    /* Firefox 4-15 */
    -o-transition: all 0.3s ease-in-out;
    /* Opera 10.50–12.00 */
    transition: all 0.3s ease-in-out;
    /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
    letter-spacing: 1px;
    border-bottom: 1px solid transparent; }

.s-link, #extra-data li a {
  color: #1072b5;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .s-link:hover, .no-touch #extra-data li a:hover, #extra-data li .no-touch a:hover, .s-link:focus, #extra-data li a:focus {
  border-color: #1072b5; }

.no-touch .s-link:active, .no-touch #extra-data li a:active, #extra-data li .no-touch a:active {
  position: relative;
  top: 1px;
  -webkit-transition: none 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: none 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: none 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: none 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .t-link span:hover, .t-link span:focus {
  border-bottom: 1px solid #1072b5; }

.image-wrap {
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: 555px;
  text-align: center; }
  .image-wrap a {
    text-decoration: none; }
  .image-wrap img {
    border: 10px solid white;
    -webkit-box-shadow: 0px 0px 0px 1px #d9d8d9;
    /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
    box-shadow: 0px 0px 0px 1px #d9d8d9;
    /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
    opacity: 0.92;
    -webkit-transition: all 0.3s ease-in-out;
    /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.3s ease-in-out;
    /* Firefox 4-15 */
    -o-transition: all 0.3s ease-in-out;
    /* Opera 10.50–12.00 */
    transition: all 0.3s ease-in-out;
    /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
    display: inline-block;
    max-width: 100%; }
    .image-wrap img:hover, .image-wrap img:focus {
      opacity: 1; }

.image-wrap:after, .image-wrap:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 8%;
  width: 50%;
  top: 80%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px #999999;
  -moz-box-shadow: 0 15px 10px #999999;
  box-shadow: 0 15px 10px #999999;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg); }

.image-wrap:after {
  right: 8%;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg); }

.arrow_box {
  position: relative;
  background: transparent;
  border: 2px solid #1072b5; }

.arrow_box:after, .arrow_box:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box:after {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: transparent;
  border-width: 5px;
  left: 50%;
  margin-left: -5px; }

.arrow_box:before {
  border-color: rgba(35, 31, 32, 0);
  border-top-color: #1072b5;
  border-width: 8px;
  left: 50%;
  margin-left: -8px; }

#value-prop {
  background-image: url(../img/bg4.jpeg); }

@media only screen and (min-width: 48em) {
  #value-prop h1 {
    margin-top: 2.5em; }

  #prop-links.two a {
    width: 31%;
    margin: 0 3% 0 15%; } }
#extra-data {
  display: none; }
  #extra-data ul {
    list-style-type: none; }
  #extra-data li {
    margin-bottom: 1em; }
  #extra-data h4 {
    margin: 0; }
  #extra-data p {
    margin: 0; }

#title h2 {
  font-size: 1.7em; }
#title .lead {
  font-size: 1.1em;
  text-align: center; }

.text p {
  padding: 0.5em 0; }

figure img {
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }
figure .caption {
  text-align: center; }

@media only screen and (min-width: 48em) {
  figure {
    clear: both;
    padding-top: 1em; }
    figure p {
      float: left;
      width: 48%; }
    figure .image-wrap {
      float: left;
      width: 48%;
      margin-right: 4%; }

  #title h2 {
    font-size: 1.875em; }
  #title .lead {
    font-size: 1.3em;
    max-width: 30em;
    margin: 1em auto; }

  .text {
    overflow: hidden; }
    .text p {
      width: 48%;
      float: left;
      font-size: 1.125em; }
      .text p:first-child {
        margin-right: 4%; } }
