/*COLORS*/
/*FONTS*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: 'icomoon' !important;
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-transform: none !important; }

/* ICONFONT TEMPLATES

<span aria-hidden="true" data-icon="&#x74;"></span> //telephone
<span aria-hidden="true" data-icon="&#x6d;"></span> //menu
<span aria-hidden="true" data-icon="&#x70;"></span> //marker
<span aria-hidden="true" data-icon="&#x65;"></span> //email
<span aria-hidden="true" data-icon="&#x69;"></span> //interesting
<span aria-hidden="true" data-icon="&#x64;"></span> //data

*/
.gi {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal; }

.hnc, .button-white, .t-link, .filters > a, .filter-options li {
  text-transform: uppercase;
  font-family: 'HelveticaNeueW02-77BdCn 694066';
  font-weight: normal;
  text-decoration: none;
  color: #231f20;
  letter-spacing: 1px; }

.hnb {
  font-weight: normal;
  font-family: 'HelveticaNeueW02-75Bold'; }

.hn {
  font-weight: normal;
  font-style: normal;
  font-family: 'HelveticaNeueW02-55Roma'; }

/*HELPERS*/
.clearfix:before, .list:before, .filter-options ul:before,
.clearfix:after,
.list:after,
.filter-options ul:after {
  content: " ";
  display: table; }

.clearfix:after, .list:after, .filter-options ul:after {
  clear: both; }

.clearfix, .list, .filter-options ul {
  *zoom: 1; }

.button-white {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 0.4em;
  line-height: 1.5;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .button-white:hover, .button-white:focus {
  background: white;
  color: #231f20; }

.no-touch .button-black:active, .no-touch .button-blue:active, .button-white:active {
  -webkit-transition: none 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: none 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: none 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: none 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  position: relative;
  top: 1px; }

.t-link {
  color: #1072b5;
  text-decoration: none;
  text-transform: uppercase; }
  .t-link span {
    -webkit-transition: all 0.3s ease-in-out;
    /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.3s ease-in-out;
    /* Firefox 4-15 */
    -o-transition: all 0.3s ease-in-out;
    /* Opera 10.50–12.00 */
    transition: all 0.3s ease-in-out;
    /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
    letter-spacing: 1px;
    border-bottom: 1px solid transparent; }

.s-link {
  color: #1072b5;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .s-link:hover, .s-link:focus {
  border-color: #1072b5; }

.no-touch .s-link:active {
  position: relative;
  top: 1px;
  -webkit-transition: none 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: none 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: none 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: none 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }

.no-touch .t-link span:hover, .t-link span:focus {
  border-bottom: 1px solid #1072b5; }

.image-wrap {
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: 555px;
  text-align: center; }
  .image-wrap a {
    text-decoration: none; }
  .image-wrap img {
    border: 10px solid white;
    -webkit-box-shadow: 0px 0px 0px 1px #d9d8d9;
    /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
    box-shadow: 0px 0px 0px 1px #d9d8d9;
    /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
    opacity: 0.92;
    -webkit-transition: all 0.3s ease-in-out;
    /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.3s ease-in-out;
    /* Firefox 4-15 */
    -o-transition: all 0.3s ease-in-out;
    /* Opera 10.50–12.00 */
    transition: all 0.3s ease-in-out;
    /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
    display: inline-block;
    max-width: 100%; }
    .image-wrap img:hover, .image-wrap img:focus {
      opacity: 1; }

.image-wrap:after, .image-wrap:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 8%;
  width: 50%;
  top: 80%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px #999999;
  -moz-box-shadow: 0 15px 10px #999999;
  box-shadow: 0 15px 10px #999999;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg); }

.image-wrap:after {
  right: 8%;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg); }

.arrow_box, .filters > a.opened {
  position: relative;
  background: transparent;
  border: 2px solid #1072b5; }

.arrow_box:after, .filters > a.opened:after, .arrow_box:before, .filters > a.opened:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box:after, .filters > a.opened:after {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: transparent;
  border-width: 5px;
  left: 50%;
  margin-left: -5px; }

.arrow_box:before, .filters > a.opened:before {
  border-color: rgba(35, 31, 32, 0);
  border-top-color: #1072b5;
  border-width: 8px;
  left: 50%;
  margin-left: -8px; }

#value-prop {
  background-image: url(../img/bg1.jpeg); }

@media only screen and (min-width: 48em) {
  #value-prop h1 {
    margin-top: 2.5em; } }
#finished-list {
  margin-top: 2em; }

.reference {
  text-decoration: none;
  text-align: center;
  display: block;
  max-width: 25em;
  margin: 0 auto;
  margin-bottom: 2em;
  -webkit-transition: all 0.3s ease-in-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-in-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-in-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .reference img {
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.filters {
  text-align: center;
  max-width: 40em;
  margin: 0 auto;
  margin-bottom: 1em; }
  .filters > a {
    padding: 0.4em;
    position: relative;
    border: 2px solid transparent;
    display: inline-block;
    width: 10em; }
  .filters > a.opened {
    border: 2px solid #1072b5;
    color: #1072b5; }

#finished {
  max-width: 100% !important;
  padding: 0 !important; }

#finished hgroup {
  max-width: 71.25em;
  padding: 0 1em;
  margin: 0 auto;
  margin-bottom: 2em; }
#finished .list {
  max-width: 71.25em;
  padding: 0 1em;
  margin: 0 auto;
  margin-top: 1em; }

.filter-options {
  display: none;
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  border: 1px solid #d9d8d9;
  background: white;
  -moz-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.2), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.2), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.2), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.2); }
  .filter-options ul {
    max-width: 40em;
    margin: 0 auto;
    list-style-type: none; }
  .filter-options li {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 1.1em;
    padding: 0.5em;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.3s ease-in-out;
    /* Firefox 4-15 */
    -o-transition: all 0.3s ease-in-out;
    /* Opera 10.50–12.00 */
    transition: all 0.3s ease-in-out;
    /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */ }
    .filter-options li:hover, .filter-options li.selected {
      color: #1072b5; }

.no-touch .filters > a:hover, .filters > a:focus {
  color: #1072b5; }

.reference.hide {
  opacity: 0.2;
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
  transform: scale(0.98); }

.hide:hover img {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

@media only screen and (min-width: 48em) {
  .filters {
    text-align: right;
    width: 100%;
    max-width: 71.25em;
    padding-right: 1em; }
    .filters a {
      text-align: center; }

  .reference {
    max-width: 100%;
    margin: 0;
    margin-bottom: 2em;
    width: 45%;
    float: left;
    margin-right: 10%; }
    .reference:nth-child(even) {
      margin-right: 0; } }
@media only screen and (min-width: 61.875em) {
  .reference {
    width: 30%;
    margin-right: 5%; }
    .reference:nth-child(even) {
      margin-right: 5%; }
    .reference:nth-child(3n) {
      margin-right: 0; } }
